.about-wrapper h2,
.about-wrapper h3,
.about-wrapper h4{
    text-align: center;
    margin-bottom: 10px;
}

.flex1, .flex2, .flex3{
    margin-bottom: 30px;
}

.flex3{
    width: 30%;
    height: auto;
    margin: 1%;
}

.flex2{
    width: 45%;
    margin: 1%;
}

.flex2 img, .flex3 img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.flex2 p, .flex3 p{
    width: 90%;
    margin: 0 auto
}

.about-style{
    background-color: white;
    border: 5px solid #9B3B23;
    border-radius: 2rem;
}

.about-style img{
    margin-top: 30px;
    border: 4px solid #9B3B23;
    border-radius: 1rem;
}

.about-wrapper img{
    margin-bottom: 30px;
}

.aboutRow {
    margin: 3rem;
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width:480px){
    .flex2, .flex3{
        width:100%
    }
    .aboutRow{
        margin: 3rem 0;
    }
    .flexBoxContainer {
        padding: .1rem;
    }
}