/*NON-EDITING MODE MENU*/
#editItemsContainer {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}
.mgrMenuItem, .editingModeMenuItem {
    width:30%;
    padding:1rem;
    margin: 0.5rem;
    background-color: white;

    border: 5px solid #9B3B23;
    border-radius: 2rem;
    text-align: center;
}
.mgrFoodName {
    font-size: 1.8rem;
}
.mgrItemImage {
    width: 80%;
    border-radius: 1rem;
}
.mgrQuantityBlock{
    font-size: 1rem;
    font-weight: 900;
    padding-right: 1rem;
}
.mgrMaxQuantity {
    width: 50px;
}

/*EDIT MODE OF ITEMS*/


.imageUrlEditBlock, .nameEditBlock, .priceEditBlock, .maxQuantityEditBlock{
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.1rem;
}


.editMaxQuantity, .imageUrlEditBlock, .nameEditBlock, .priceEditBlock, .maxQuantityEditBlock {
    font-family: "Mulish", Arial, Helvetica, sans-serif;

    border: 3px solid #190D08;
    border-radius: 10px;
    padding: 0.1rem 0rem 0.1rem 0.3rem;
}

/*ORDER VIEWING ITEM STYLING*/
#ordersContainer {
    display: flex;
    flex-direction: column;
}

.mgrOrderItem {
    width: 100%;
    padding:1rem;
    margin: 0.5rem;
    background-color: white;

    border: 5px solid #9B3B23;
    border-radius: 2rem;
}

.mgrOrderItem .primaryInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: .5rem;

    border-bottom: 5px #9B3B23 dashed; 
}

.mgr .primaryInfo * {
    margin: .5rem 2rem;
}

.mgrOrderItem .orderId {
    font-size: 30px;
}

.mgrOrderItem .secondaryInfo {
    display: none;
    flex-wrap: wrap;
}

.mgrOrderItem .orderFoodItem {
    width: fit-content;

    padding: 1rem 2rem;
    margin: .5rem 1rem;

    border: 3px #9B3B23 solid; 
    border-radius: 10px;
}

/*SORT AND FILTER DROPDOWN STYLING*/
#filterSortToggles select {
    border: 2px solid #9B3B23;
    border-radius: .5rem;

    font-size: 1.1rem;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
}