/*MENU*/
#menuContainer, #menuPreviewWindow {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}
.menuItem {
    width:30%;
    padding:1rem;
    margin: 0.5rem;
    background-color: white;

    border: 5px solid #9B3B23;
    border-radius: 2rem;
    text-align: center;
}
.foodName {
    font-size: 1.8rem;
}
.itemImage {
    width: 80%;
    border-radius: 1rem;
}
.quantityBlock {
    display: flex;
    width:100%;
    justify-content: center;

    margin: 0.5rem;
}
.quantityBlock p {
    font-size: 1rem;
    font-weight: 900;
    padding-right: 1rem;
}
.cartQuantity {
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    width: 50px;

    border: 3px solid #190D08;
    border-radius: 10px;
    padding: 0.1rem 0rem 0.1rem 0.3rem;
}
#checkoutItems {
    text-align: center;
}
#checkoutItems h2 {
    color:#9B3B23;
} 

/* Cart */
#cartSection {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.cartItem {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:1rem;
    margin: 0.5rem 0;
    background-color: white;

    border: 5px solid #9B3B23;
    border-radius: 2rem;
    text-align: left;
}
.cartItemNameBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cartItemName {
    font-size: 1.8rem;
}
.cartItemImage {
    width: 20%;
    height:100%;
    border-radius: 1rem;
    margin-right: 1rem;
}
.cartItemQuantityBlock {
    display: flex;
    width:100%;
    justify-content: flex-end;
    align-items: center;

    margin: 0.5rem;
}
.cartItemQuantityBlock p {
    font-size: 1rem;
    font-weight: 900;
    padding-right: 1rem;
}
.cartItemQuantity {
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    width: 50px;

    border: 3px solid #190D08;
    border-radius: 10px;
    padding: 0.1rem 0rem 0.1rem 0.3rem;
}
#checkoutItems {
    text-align: center;
}
#checkoutItems h2 {
    color:#9B3B23;
} 