/*MENU*/
#menuContainer, #menuPreviewWindow {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}
.menuItem {
    width:30%;
    padding:1rem;
    margin: 0.5rem;
    background-color: white;

    border: 5px solid #9B3B23;
    border-radius: 2rem;
    text-align: center;
}
.foodName {
    font-size: 1.8rem;
}
.itemImage {
    width: 80%;
    border-radius: 1rem;
}
.quantityBlock {
    display: flex;
    width:100%;
    justify-content: center;

    margin: 0.5rem;
}
.quantityBlock p {
    font-size: 1rem;
    font-weight: 900;
    padding-right: 1rem;
}
.cartQuantity {
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    width: 50px;

    border: 3px solid #190D08;
    border-radius: 10px;
    padding: 0.1rem 0rem 0.1rem 0.3rem;
}
#checkoutItems {
    text-align: center;
}
#checkoutItems h2 {
    color:#9B3B23;
} 

/* Cart */
#cartSection {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.cartItem {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:1rem;
    margin: 0.5rem 0;
    background-color: white;

    border: 5px solid #9B3B23;
    border-radius: 2rem;
    text-align: left;
}
.cartItemNameBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cartItemName {
    font-size: 1.8rem;
}
.cartItemImage {
    width: 20%;
    height:100%;
    border-radius: 1rem;
    margin-right: 1rem;
}
.cartItemQuantityBlock {
    display: flex;
    width:100%;
    justify-content: flex-end;
    align-items: center;

    margin: 0.5rem;
}
.cartItemQuantityBlock p {
    font-size: 1rem;
    font-weight: 900;
    padding-right: 1rem;
}
.cartItemQuantity {
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    width: 50px;

    border: 3px solid #190D08;
    border-radius: 10px;
    padding: 0.1rem 0rem 0.1rem 0.3rem;
}
#checkoutItems {
    text-align: center;
}
#checkoutItems h2 {
    color:#9B3B23;
} 


/* CHECKOUT FORMS */
#guestCheckoutForm, #userCheckoutForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 1rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 5px solid #9B3B23;
    border-radius: 25px;
}

#guestCheckoutForm input,
#guestCheckoutForm select,
#userCheckoutForm input,
#userCheckoutForm select{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 3px solid #190D08;
    border-radius: 15px;
    outline: none;
    background-color: white;
    transition: all 0.3s ease;
}

#guestCheckoutForm input:focus,
#guestCheckoutForm select:focus,
#userCheckoutForm input:focus,
#userCheckoutForm select:focus{
    border-color: #e46f3b;
    box-shadow: 0 0 10px rgba(228, 111, 59, 0.7);
}

#deliveryAddressContainer{
    margin-top: 0.5rem;
    display: none;
}

/* Autofill and links */
#guestCheckoutForm p, #userCheckoutForm p{
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
    color: #190D08;
    text-align: center;
}

#guestCheckoutForm p a, #userCheckoutForm p a{
    color: #e46f3b;
    text-decoration: none;
    font-weight: bold;
}

#guestCheckoutForm p a:hover, #userCheckoutForm p a:hover{
    color: #190D08;
    text-shadow: 0 0 5px #948474;
}

/* Cart and Receipt Summary */


/* PROGRESS BAR */
progress{
    width: 100%;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    border: 3px solid #190d08;
    border-radius: 12px;
    overflow: hidden;
    background-color: #948474;
}

/* Chrome and Safari */
progress::-webkit-progress-bar{
    background-color: #948474;
}

progress::-webkit-progress-value{
    background-color: #e46f3b;
    transition: width 0.3s ease;
}

/* Firefox */
progress::-moz-progress-bar{
    background-color: #e46f3b;
    transition: width 0.3s ease;
}