/*
colors to use:
#E46F3B - orang (orange)
#190D08 - blac  (black)
#88972D - geen  (green)
#9B3B23 - poo   (brown)
#948474 - stone (grey)

fonts to use:
headers:
font-family: "Luckiest Guy", cursive;

subheaders:
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-style: italic;

body text:
font-family: "Mulish", sans-serif;
*/

/* Undefined */
*{
    box-sizing: border-box; 
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 1.2rem;
    color: #190D08;
    background-color: #948474;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 3rem;

}
h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
}

button {
    border: 5px solid #190D08;
    border-radius: 25px;
    padding: 0.6rem 2rem;
    background-color: #E46F3B;
    color:white;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 2px;
    font-size: 1.4rem;
    transform: scale(1);
    margin: 0.5rem;

    transition: all .3s;
}

button:hover {
    border: 5px solid #E46F3B;
    border-radius: 25px;
    padding: 0.6rem 2rem;
    background-color: #190D08;
    color:#948474;
    font-family: "Luckiest Guy", cursive;
    font-size: 1.4rem;
    cursor: pointer;
    transform: scale(1.1);
}

.Link{color: #9B3B23;}
.Link:hover{color: #bc472a;}

/* Header */
header{top: 0; box-shadow: 0px -100px 10px 100px; background-color: #E46F3B; position: fixed; left: 0; right: 0; height: 150px; z-index: 1000;}
header div{margin-left: 5%; float: left; width: 150px; text-align: center; height: 150px; border-right: 3px dashed #9B3B23;}
header img{width: 100%; background-image: radial-gradient(#9B3B23 0%, #E46F3B 75% 100%);}
header h1{text-align: center; height: 150px; align-content: center; font-size: 300%;}
header h1 a{color: #190D08; font-family: "Luckiest Guy", cursive;}


nav{margin-right: 5%; float: right; height: 150px; align-content: center; width: 800px; border-left: 3px dashed #9B3B23;}
nav ul{padding-left: 0; text-align: center;}
nav ul *{display: inline;}
nav ul li{padding: 10px 20px; border: 3px #9B3B23 dashed; border-radius: 10px; cursor: pointer;}
nav ul li *{font-family: "Mulish", sans-serif; font-weight: 900;}

header ul li a{color: #9B3B23; transition: 0.25s;}
header ul li a:hover{color: #bc472a;}
.CurrentlyOn{color: #190D08;}
.CurrentlyOn:hover{color: #4e2919;}

/* Article */
article{background-color: rgba(255, 255, 255, 0.1); margin: 5%; padding: 5%;}
section{margin-top: 100px;}

/* Footer */
footer{
    background-color: #E46F3B; 
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    height: 100px;
}

footer p{
    text-align: center;
    margin: 1rem;
}

/* Home */
#contact form, #signupForm, #loginForm{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

#contact input, textarea{
    border: 1px solid #333;
    border-radius: 6px;
    padding: 0.75rem;
    font-size: 1rem;
    resize: none;
    margin-bottom: 10px;
}

#contact #submit{
    border: none;
    padding: 0.75rem .5rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

#contact #submit:hover{
    text-shadow: 0 0 8px #333;
    transform: translateY(-3px);
}